html,
.App {
  background-color: rgb(255, 255, 255);
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.main-container {
  margin-top: 2rem;
}

.nav-buttons {
  color: white !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bet-info {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.cardd-text {
  font-size: 16px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fotosLigas {
  height: 80vh;
  margin-top: 2rem;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* create league */
.form-create-league {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
}

.form-create-league input {
  margin: 1.5rem;
  width: 13rem;
}

/* all leagues pages classes */
.red-text {
  color: red;
}
.join-league-button {
  border: none;
  background-color: white;
  border: 1px solid rgb(36, 128, 97);
  border-radius: 5px;
  margin: 8px 8px 18px 8px;
}

/* .join-league-button:hover {
	background-color: black;
	color: white;
} */

.info-league-container {
  border: 1px solid rgb(123, 127, 133);
  margin: 0.5rem;
  padding: 0;
  width: 22rem;
  background-color: white;
  text-align: center;
  min-height: 22rem;
}
.info-league-container > h4 {
  background-color: rgb(36, 128, 97);
  padding: 0.4rem;
  color: white;
}

.leagues-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* matches competitions page */

.matchOddsTitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.competitionsContainer {
}

/* nav styles */

.nav-text {
  margin: 0 1rem 0 1rem;
}
.log-out {
  border: none;
  background-color: rgb(189, 61, 61);
  color: white;
  opacity: 0.7;
}

.log-out:hover {
  opacity: 1;
}

/* bet */
.bet-button {
  border: none !important;
  margin: 0.6rem;
  padding: 0.6rem;
  opacity: 1;
  background-color: rgb(36, 128, 97);
  width: 5rem;
  color: white;
}

.bet-input {
  margin: 8px;
}

.bet-button-two {
  width: 10rem !important;
  color: white;
  border-radius: 2px;
}

.bet-button:hover {
  opacity: 1;
}
.bet-button-details:hover {
  opacity: 1;
}

.bet-button-details {
  border: none !important;
  margin: 0.6rem;
  padding: 0.5rem;
  opacity: 0.7;
  background-color: rgb(36, 128, 97);
  width: 8rem;
}

.link-odds {
  text-decoration: none !important;
  color: rgb(36, 128, 97) !important;
  font-weight: bold !important;
}

.link-odds:hover {
  font-weight: bolder;
  font-size: larger;
}

.see-odds-button {
  background-color: rgb(36, 128, 97) !important;
  border: none !important;
}

.enter-button {
  background-color: transparent !important;
  border: 1px solid rgb(36, 128, 97) !important;
  width: 5rem;
  color: black !important;
}

.nav-text-right {
  text-decoration: none !important;
  list-style: none !important;
  font-weight: bold !important;
  margin: 0 1rem 0 1rem;
}

/* 
home page */

.welcome-info {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 74vh;
  justify-content: center;
}

.home-page-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#carouselExampleCaptions {
  margin-left: 4rem;
}
.welcome-info-text {
  text-align: left;
  margin: 1.5rem 0 1.5rem 0;
  height: 10rem;
}

.log-in-welcome {
  border: 0.5px solid white;
  border-radius: 4px;
  background-color: rgb(36, 128, 97);
  padding: 5px;
  color: white;
}

.principal-nav {
  background-color: rgb(36, 128, 97) !important;
}

.sub-navbar {
  background-color: rgb(36, 128, 97) !important;
  height: 2rem;
}

.ticket-pending {
  text-align: start;
  border: 2px solid rgb(236, 205, 28);
  padding: 8px;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  min-width: 17rem;
}
.ticket-lost {
  text-align: start;
  border: 2px solid rgb(236, 28, 28);
  padding: 8px;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  min-width: 17rem;
}
.ticket-won {
  text-align: start;
  border: 2px solid rgb(30, 136, 16);
  padding: 8px;
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  min-width: 17rem;
}

.ticket-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.divisor {
  color: rgb(36, 128, 97);
}

.sign-up-welcome {
  border: 1px solid rgb(36, 128, 97);
  border-radius: 4px;
  background-color: white;
}

.home-card {
  width: 12rem !important;
  height: 14rem;
  border: none !important;
  margin: 16rem 6rem 3rem 40px;
}

.card-img-top {
  border-radius: 50px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 2rem !important;
}
.card-text {
  font-size: 0.8rem;
}

.first-col {
  position: relative;
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-col button {
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: rgb(36, 128, 97);
  border-radius: 30px;
  border: 2px solid rgb(36, 128, 97);
  width: 13rem !important;
  color: white;
  font-weight: 2000;
}

.first-col button:hover {
  background-color: rgb(36, 128, 97);
  color: white;
  border: none;
}
.second-col button:hover {
  background-color: rgb(36, 128, 97);
  color: white;
  border: none;
}
.second-row button:hover {
  background-color: rgb(36, 128, 97);
  color: white;
  border: none;
}

.first-col:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
  background-image: url("../src/pages/images/create-league.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.second-col {
  position: relative;
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-col button {
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: rgb(36, 128, 97);
  border-radius: 30px;
  border: 2px solid rgb(36, 128, 97);
  width: 13rem !important;
  color: white;
  font-weight: 2000;
}

/* You could use :after - it doesn't really matter */
.second-col:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
  background-image: url("../src/pages/images/join-league.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.card-bet {
  border: none !important;
}

.second-row {
  position: relative;
  overflow: hidden;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second-row button {
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: rgb(36, 128, 97);
  border-radius: 30px;
  border: 2px solid rgb(36, 128, 97);
  width: 13rem !important;
  color: white;
  font-weight: 2000;
}

.second-row:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.4;
  background-image: url("../src/pages/images/all-leagues.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.accesCode {
  color: white;
}

.join-league-button2 {
  border: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 8px 8px 18px 8px;
}

.finish-date {
  padding: 1rem;
}

.create-league-input {
  border: none;
  border-bottom: black 1px solid;
}
.create-league-input:focus {
  outline: 0px;
}

#potToWinners {
  margin: 1rem 0rem 2rem 0;
}

#potToWinners:focus {
  outline: 0px;
}

@media (max-width: 600px) {
  .home-page-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .col-4 {
    flex: 0 0 auto;
    width: 80.33333333% !important;
  }

  .welcome-info {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 36vh;
    justify-content: center;
  }

  .col-8 {
    flex: 0 0 auto;
    width: 80.33333333% !important;
  }

  #carouselExampleCaptions {
    margin-top: 3rem;
    margin-left: 0rem;
  }

  .LoginPage {
    text-align: center;
    margin: 0 auto;
    border-radius: 4px;
    background-color: transparent !important;
  }
}
